on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on fs
    wait /dev/block/platform/bootdevice/by-name/super
    mount_all /etc/recovery.fstab --early
    restorecon_recursive /system
    restorecon_recursive /vendor

on post-fs
    start mtk_plpath_utils
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    
    # A/B support
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
