on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

    # Папки безопасности
    mkdir /mnt/vendor 0771 system system
    mkdir /mnt/vendor/protect_f 0770 root system
    mkdir /mnt/vendor/protect_s 0770 root system
    mkdir /mnt/vendor/nvdata 0771 root system
    mkdir /mnt/vendor/nvcfg 0771 root system
    mkdir /mnt/vendor/persist 0771 root system
    mkdir /metadata 0771 system system

on fs
    # Монтируем разделы для работы крипты
    mount_all /etc/recovery.fstab --early
    restorecon_recursive /metadata
    restorecon_recursive /mnt/vendor/persist

on post-fs
    # Инициализация путей MediaTek
    start mtk_plpath_utils

on post-fs-data
    # Даем время на инициализацию железа перед стартом TEE
    exec u:r:recovery:s0 root root -- /system/bin/sleep 1
    
    # Запуск служб крипты в строгом порядке
    start teed
    start vendor.keymaster-4-0
    start vendor.keymaster-4-1
    start gatekeeper-1-0

# --- СЛУЖБЫ КРИПТОГРАФИИ ---

service teed /vendor/bin/teed
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.mediatek
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.mediatek
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
